<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TestDBConnectionString" value="User Id=SYS;Password=mysecurepassword;Privilige=SYSDBA;Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521)) (CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = ORALSID)));"/>
	</appSettings>
</configuration>