<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--                                r Id=myUsername;Password=myPassword;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=MyHost)(PORT=MyPort)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=MyOracleSID)));-->
		<add key="TestDBConnectionString" value="User Id=system;Password=oracle;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XEPDB1)));"/>
	</appSettings>
</configuration>

